@page
@model ExternalLoginSignalRModel
@{
    ViewData["Title"] = "Register";
}

<div asp-validation-summary="All" class="text-danger"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
